<h2 style="color: blue"> {{paistxt}} </h2>

<div class="table-responsive">  
   <p-table [columns]="cols" [value]="busqueda" [paginator]="true" [rows]="5" *ngIf="busqueda.length > 0" >
     <ng-template pTemplate="header" let-columns>
         <tr >
             <th *ngFor="let col of columns" style="color: #fff; background-color: #337ab7; border-color: #337ab7;">
                 {{col.header}}
             </th>
         </tr>
     </ng-template>
     <ng-template pTemplate="body" let-busqueda>
       <tr >
         <td valign="top">
           <strong>ORGANIZACION</strong>:  {{busqueda.organizacion}}
                   
          </td>
         <td width="370" valign="top" ><a class="btn btn-primary"
          [href]=busqueda.linkpagina target="_blank">Aplica</a></td>
     </tr>
     </ng-template>
   </p-table>
   </div>