<div echarts 
[options]="options" 
[loading]="!mapLoaded"
[merge]="mergeoptions"
(chartClick)="onChartClick($event)"
(chartMouseOver)="onChartOver($event)"
(chartMouseOut)="onChartOut($event)"
style="background-color:#0a497b;"></div>
       <div *ngIf="auxtext">
        <h2 style="color: blue"> {{paistxt}} </h2>

        <div class="table-responsive"> 
        
           <p-table [columns]="cols" [value]="busqueda" [paginator]="true" [rows]="5" *ngIf="busqueda.length > 0" >
             <ng-template pTemplate="header" let-columns>
                 <tr >
                     <th *ngFor="let col of columns" style="color: #fff; background-color: #337ab7; border-color: #337ab7;">
                         {{col.header}}
                     </th>
                 </tr>
             </ng-template>
             <ng-template pTemplate="body" let-busqueda>
               <tr >
                 <td valign="top"><strong>FECHA DE FIRMA:</strong>  {{busqueda.firma}} <span *ngIf="busqueda.vigencia > 0"><br>
                    
                   <strong>VIGENCIA</strong>: {{busqueda.vigencia}} años </span><br>
                   <span *ngIf="busqueda.vigencia == 0">
                    
                     <strong>VIGENCIA</strong>: Indefinida<br></span>
                   <strong>PAIS</strong>: {{busqueda.pais}}<br>
                   <strong>ORGANIZACION</strong>:  {{busqueda.organizacion}}
                   
                 
                 <td width="370" valign="top" >{{busqueda.objeto}}</td>
                 <td width="200" valign="top" >{{busqueda.tipo}}
                 </td>
                 <td width="370" valign="top" ><button type="button" class="btn btn-primary" (click)="Verpdf(busqueda.id)">Revisar Convenio</button></td>
             </tr>
             </ng-template>
           </p-table>
           </div>
       </div>  
<router-outlet></router-outlet>